* {
  font-family: monospace, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

button {
  border-radius: 0.4em;
  border: none;
}

img {
  border-radius: 10%;
}

.hero,
.information,
.quote-container,
.ad-container,
.footer {
  padding: 0 25rem;
}

/* hero section */
.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 0 0;
}

.header .logo {
  font-size: 24px;
  color: #f9faf8;
}

.header .links {
  display: flex;
  gap: 30px;
}

.links,
.hero-sec {
  font-size: 18px;
}

.hero,
.footer {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
}

.hero-container {
  display: flex;
  padding: 5rem 0;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 10rem 0 0 ;
}

.hero-main {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.hero-sec {
  color: #f9faf8;
  font-weight: 300;
}

.hero-button {
  align-self: flex-start;
  background-color: #3882f6;
  padding: 0.2rem 0.75rem;
  color: #f9faf8;
}

#main-pic {
  border-radius: 0;
}

/* info and image section */
.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information .title {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  padding: 3rem 0;
}

.information .images {
  display: flex;
  padding: 0 0 3rem 0;
}

.information .images .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  text-align: center;
}

/* quote secion */
.quote-container {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quote-container .quote {
  font-style: italic;
  font-size: 26px;
  font-weight: lighter;
  color: #1f2937;
  padding: 3rem 0;
  align-self: center;
  max-width: 50rem;
}

.quote-container .person {
  font-size: 20px;
  font-weight: 500;
  align-self: flex-end;
  padding: 0 0 1.5rem 0;
  max-width: 50rem;
}

/* advertisement section */
.ad {
  display: flex;
  background-color: #3882f6;
  justify-content: space-around;
  align-items: center;
  margin: 5rem;
  padding: 4rem;
  border-radius: 1em;
}

.ad .prompt .prompt-head {
  font-size: 28px;
  color: #e5e7eb;
}

.ad .prompt .prompt-text {
  color: #e5e7eb;
}

.ad .ad-button {
  border: 0.18rem solid #e5e7eb;
  height: 2rem;
  width: 7rem;
  background-color: #3882f6;
  color: #e5e7eb;
  font-weight: bold;
}

/* footer */
.footer {
  color: #e5e7eb;
  text-align: center;
  padding: 1.5rem 0;
}
